body{
  background-color:black;
}
table{
  width:95%;
}
td{
  padding: 1%;
}
tr:nth-child(even){
  background: #ddd;
}
.flex-parent{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile{
  font-family: cursive;
  width: 30%;
  height:50%;
  background-image: url(img.jpeg);
  padding:2%;
  margin:1%;
  border:2px solid #000;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #000;
}
.content{
  font-family:cursive;
  width:70%;
  background-image: url(img.jpeg);
  padding:2%;
  margin:1%;
  border:2px solid #000;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #000;
}
img{
  width: 200px;
  height: auto;
}
.img_circle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 2px solid #000;
}
h2{
  text-align: center;
  text-transform: uppercase;
}
a{
  text-decoration: none;
}
@media only screen and (min-width:320px) and (max-width:480px){
  table{
    width:89%;
  }
  td{
    padding: 1%;
  }
  tr:nth-child(even){
    background: #ddd;
  }
  .flex-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile{
    font-family: cursive;
    width:95%;
    height:50%;
    background-image: url(img.jpeg);
    padding:2%;
    margin:1%;
    border:2px solid #000;
    border-radius: 20px;
  }
  .content{
    font-family:cursive;
    width:95%;
    background-image: url(img.jpeg);
    padding:2%;
    margin:1%;
    border:2px solid #000;
      border-radius: 20px;
      box-shadow: 3px 3px 3px #000;
  }
  img{
    width: 200px;
    height: auto;
  }
  .img_circle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid #000;
  }
  h2{
    text-align: center;
    text-transform: uppercase;
  }
  a{
    text-decoration: none;
  }
}
@media only screen and (min-width:481px) and (max-width:768px){
  table{
    width:85%;
  }
  td{
    padding: 1%;
  }
  tr:nth-child(even){
    background: #ddd;
  }
  .flex-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile{
    font-family: cursive;
    width: 90%;
    background-image: url(img.jpeg);
    padding:2%;
    margin:1%;
    border:2px solid #000;
  }
  .content{
    font-family:cursive;
    width:70%;
    background-image: url(img.jpeg);
    padding:2%;
    margin:1%;
    border:2px solid #000;
  }
  img{
    width: 200px;
    height: auto;
  }
  .img_circle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid #000;
  }
  h2{
    text-align: center;
    text-transform: uppercase;
  }
  a{
    text-decoration: none;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px){
  table{
    width:95%;
  }
  td{
    padding: 1%;
  }
  tr:nth-child(even){
    background: #ddd;
  }
  .flex-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile{
    font-family: cursive;
    width: 90%;
    background-image: url(img.jpeg);
    padding:2%;
    margin:1%;
    border:2px solid #000;
  }
  .content{
    font-family:cursive;
    width:90%;
    background-image: url(img.jpeg);
    padding:2%;
    margin:1%;
    border:2px solid #000;
  }
  img{
    width: 200px;
    height: auto;
  }
  .img_circle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid #000;
  }
  h2{
    text-align: center;
    text-transform: uppercase;
  }
  a{
    text-decoration: none;
  }
  *{
    font-size: 30px;
  }
}
